USE [TiendaZapatos]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NULL,
	[Telefono] [varchar](20) NULL,
	[Direccion] [varchar](200) NULL,
	[DNI] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[SubTotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Cargo] [varchar](50) NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Marca] [varchar](100) NULL,
	[Talla] [int] NOT NULL,
	[Color] [varchar](50) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[Imagen] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Contrasena] [varchar](100) NOT NULL,
	[Rol] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[Total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_Detalle_Producto]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Venta] FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Ventas] ([IdVenta])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_Detalle_Venta]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([IdCategoria])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Venta_Cliente]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Empleado] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleados] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Venta_Empleado]
GO
/****** Object:  StoredProcedure [dbo].[CATEGORIA_EDITAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[CATEGORIA_EDITAR]
	@IdCategoria INT,
	@Nombre VARCHAR(100),
	@Descripcion VARCHAR(250)
AS
BEGIN
	UPDATE Categorias
	SET
		Nombre = @Nombre,
		Descripcion = @Descripcion
	WHERE IdCategoria = @IdCategoria
END
GO
/****** Object:  StoredProcedure [dbo].[CATEGORIA_ELIMINAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[CATEGORIA_ELIMINAR]
	@IdCategoria INT
AS
BEGIN
	DELETE FROM Categorias
	WHERE IdCategoria = @IdCategoria
END
GO
/****** Object:  StoredProcedure [dbo].[CATEGORIA_LISTAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[CATEGORIA_LISTAR]
AS
BEGIN
	SELECT
		IdCategoria,
		Nombre,
		Descripcion
	FROM Categorias
END
GO
/****** Object:  StoredProcedure [dbo].[CATEGORIA_REGISTRAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CATEGORIA_REGISTRAR]
	@Nombre VARCHAR(100),
	@Descripcion VARCHAR(250)
AS
BEGIN
	INSERT INTO Categorias
	(
		Nombre,
		Descripcion
	)
	VALUES
	(
		@Nombre,
		@Descripcion
	)
END
GO
/****** Object:  StoredProcedure [dbo].[CLIENTE_EDITAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[CLIENTE_EDITAR]
	@IdCliente INT,
	@Nombre VARCHAR(100),
	@Apellido VARCHAR(100),
	@DNI VARCHAR(20),
	@Telefono VARCHAR(20),
	@Direccion VARCHAR(200)
AS
BEGIN
	UPDATE Clientes
	SET
		Nombre = @Nombre,
		Apellido = @Apellido,
		DNI = @DNI,
		Telefono = @Telefono,
		Direccion = @Direccion
	WHERE IdCliente = @IdCliente
END
GO
/****** Object:  StoredProcedure [dbo].[CLIENTE_ELIMINAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[CLIENTE_ELIMINAR]
	@IdCliente INT
AS
BEGIN
	DELETE FROM Clientes
	WHERE IdCliente = @IdCliente
END
GO
/****** Object:  StoredProcedure [dbo].[CLIENTE_LISTAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[CLIENTE_LISTAR]
AS
BEGIN
	SELECT
		IdCliente,
		Nombre,
		Apellido,
		DNI,
		Telefono,
		Direccion
	FROM Clientes
END
GO
/****** Object:  StoredProcedure [dbo].[CLIENTE_REGISTRAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CLIENTE_REGISTRAR]
	@Nombre VARCHAR(100),
	@Apellido VARCHAR(100),
	@DNI VARCHAR(20),
	@Telefono VARCHAR(20),
	@Direccion VARCHAR(200)
AS
BEGIN
	INSERT INTO Clientes
	(
		Nombre,
		Apellido,
		DNI,
		Telefono,
		Direccion
	)
	VALUES
	(
		@Nombre,
		@Apellido,
		@DNI,
		@Telefono,
		@Direccion
	)
END
GO
/****** Object:  StoredProcedure [dbo].[DETALLE_VENTA_REGISTRAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[DETALLE_VENTA_REGISTRAR]
	@IdVenta INT,
	@IdProducto INT,
	@Cantidad INT,
	@PrecioUnitario DECIMAL(10,2),
	@Subtotal DECIMAL(10,2)
AS
BEGIN
	INSERT INTO DetalleVenta
	(
		IdVenta,
		IdProducto,
		Cantidad,
		PrecioUnitario,
		Subtotal
	)
	VALUES
	(
		@IdVenta,
		@IdProducto,
		@Cantidad,
		@PrecioUnitario,
		@Subtotal
	)

	UPDATE Productos
	SET Stock = Stock - @Cantidad
	WHERE IdProducto = @IdProducto
END
GO
/****** Object:  StoredProcedure [dbo].[EMPLEADO_EDITAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[EMPLEADO_EDITAR]
	@IdEmpleado INT,
	@Nombre VARCHAR(100),
	@Apellido VARCHAR(100),
	@Cargo VARCHAR(50),
	@Telefono VARCHAR(20),
	@Email VARCHAR(100)
AS
BEGIN
	UPDATE Empleados
	SET
		Nombre = @Nombre,
		Apellido = @Apellido,
		Cargo = @Cargo,
		Telefono = @Telefono,
		Email = @Email
	WHERE IdEmpleado = @IdEmpleado
END
GO
/****** Object:  StoredProcedure [dbo].[EMPLEADO_ELIMINAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[EMPLEADO_ELIMINAR]
	@IdEmpleado INT
AS
BEGIN
	DELETE FROM Empleados
	WHERE IdEmpleado = @IdEmpleado
END
GO
/****** Object:  StoredProcedure [dbo].[EMPLEADO_LISTAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[EMPLEADO_LISTAR]
AS
BEGIN
	SELECT
		IdEmpleado,
		Nombre,
		Apellido,
		Cargo,
		Telefono,
		Email
	FROM Empleados
END
GO
/****** Object:  StoredProcedure [dbo].[EMPLEADO_REGISTRAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[EMPLEADO_REGISTRAR]
	@Nombre VARCHAR(100),
	@Apellido VARCHAR(100),
	@Cargo VARCHAR(50),
	@Telefono VARCHAR(20),
	@Email VARCHAR(100)
AS
BEGIN
	INSERT INTO Empleados
	(
		Nombre,
		Apellido,
		Cargo,
		Telefono,
		Email
	)
	VALUES
	(
		@Nombre,
		@Apellido,
		@Cargo,
		@Telefono,
		@Email
	)
END
GO
/****** Object:  StoredProcedure [dbo].[HISTORIAL_VENTAS_LISTAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[HISTORIAL_VENTAS_LISTAR]
AS
BEGIN
	SELECT
		V.IdVenta,
		V.Fecha,
		C.Nombre AS Cliente,
		E.Nombre + ' ' + E.Apellido AS Empleado,
		P.Nombre AS Producto,
		DV.Cantidad,
		DV.PrecioUnitario,
		DV.Subtotal,
		V.Total
	FROM Ventas V

	INNER JOIN Clientes C
		ON V.IdCliente = C.IdCliente

	INNER JOIN Empleados E
		ON V.IdEmpleado = E.IdEmpleado

	INNER JOIN DetalleVenta DV
		ON V.IdVenta = DV.IdVenta

	INNER JOIN Productos P
		ON DV.IdProducto = P.IdProducto

	ORDER BY V.IdVenta DESC
END
GO
/****** Object:  StoredProcedure [dbo].[PRODUCTO_EDITAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRODUCTO_EDITAR]
@IdProducto INT,
@Nombre VARCHAR(150),
@Marca VARCHAR(100),
@Talla INT,
@Color VARCHAR(50),
@Precio DECIMAL(10,2),
@Stock INT,
@IdCategoria INT,
@Imagen VARCHAR(250)
AS
BEGIN

UPDATE Productos
SET
	Nombre = @Nombre,
	Marca = @Marca,
	Talla = @Talla,
	Color = @Color,
	Precio = @Precio,
	Stock = @Stock,
	IdCategoria = @IdCategoria,
	Imagen = @Imagen
WHERE IdProducto = @IdProducto

END
GO
/****** Object:  StoredProcedure [dbo].[PRODUCTO_ELIMINAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRODUCTO_ELIMINAR]
@IdProducto INT
AS
BEGIN

DELETE FROM Productos
WHERE IdProducto = @IdProducto

END
GO
/****** Object:  StoredProcedure [dbo].[PRODUCTO_LISTAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRODUCTO_LISTAR]
AS
BEGIN

SELECT
	P.IdProducto,
	P.Nombre,
	P.Marca,
	P.Talla,
	P.Color,
	P.Precio,
	P.Stock,
	P.Imagen,
	C.Nombre AS Categoria
FROM Productos P
INNER JOIN Categorias C
	ON P.IdCategoria = C.IdCategoria

END
GO
/****** Object:  StoredProcedure [dbo].[PRODUCTO_REGISTRAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRODUCTO_REGISTRAR]
(
    @Nombre VARCHAR(150),
    @Marca VARCHAR(100),
    @Talla INT,
    @Color VARCHAR(50),
    @Precio DECIMAL(10,2),
    @Stock INT,
    @IdCategoria INT,
    @Imagen VARCHAR(300)
)
AS
BEGIN
    INSERT INTO Productos
    (
        Nombre,
        Marca,
        Talla,
        Color,
        Precio,
        Stock,
        IdCategoria,
        Imagen
    )
    VALUES
    (
        @Nombre,
        @Marca,
        @Talla,
        @Color,
        @Precio,
        @Stock,
        @IdCategoria,
        @Imagen
    )
END
GO
/****** Object:  StoredProcedure [dbo].[REPORTE_PRODUCTOS_VENDIDOS]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[REPORTE_PRODUCTOS_VENDIDOS]
	@FechaInicio DATE,
	@FechaFin DATE
AS
BEGIN
	SELECT
		P.Nombre AS Producto,
		SUM(DV.Cantidad) AS CantidadVendida,
		SUM(DV.SubTotal) AS TotalVendido
	FROM Ventas V
	INNER JOIN DetalleVenta DV
		ON V.IdVenta = DV.IdVenta
	INNER JOIN Productos P
		ON DV.IdProducto = P.IdProducto
	WHERE CAST(V.Fecha AS DATE)
		BETWEEN @FechaInicio AND @FechaFin
	GROUP BY P.Nombre
	ORDER BY CantidadVendida DESC
END
GO
/****** Object:  StoredProcedure [dbo].[REPORTE_STOCK]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[REPORTE_STOCK]
AS
BEGIN
	SELECT
		P.IdProducto,
		P.Nombre,
		P.Marca,
		P.Talla,
		P.Color,
		P.Precio,
		P.Stock,
		C.Nombre AS Categoria
	FROM Productos P
	INNER JOIN Categorias C
		ON P.IdCategoria = C.IdCategoria
	ORDER BY P.Stock ASC
END
GO
/****** Object:  StoredProcedure [dbo].[REPORTE_VENTAS]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[REPORTE_VENTAS]
	@FechaInicio DATE,
	@FechaFin DATE
AS
BEGIN
	SELECT
		V.IdVenta,
		V.Fecha,
		ISNULL(C.Nombre, '') AS Cliente,
		ISNULL(E.Nombre, '') + ' ' + ISNULL(E.Apellido, '') AS Empleado,
		ISNULL(P.Nombre, '') AS Producto,
		DV.Cantidad,
		DV.PrecioUnitario,
		DV.SubTotal,
		V.Total
	FROM Ventas V
	INNER JOIN Clientes C
		ON V.IdCliente = C.IdCliente
	INNER JOIN Empleados E
		ON V.IdEmpleado = E.IdEmpleado
	INNER JOIN DetalleVenta DV
		ON V.IdVenta = DV.IdVenta
	INNER JOIN Productos P
		ON DV.IdProducto = P.IdProducto
	WHERE CAST(V.Fecha AS DATE)
		BETWEEN @FechaInicio AND @FechaFin
	ORDER BY V.IdVenta DESC
END
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_EDITAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USUARIO_EDITAR]
	@IdUsuario INT,
	@Usuario VARCHAR(50),
	@Contrasena VARCHAR(100),
	@Rol VARCHAR(30)
AS
BEGIN
	UPDATE Usuarios
	SET
		Usuario = @Usuario,
		Contrasena = @Contrasena,
		Rol = @Rol
	WHERE IdUsuario = @IdUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_ELIMINAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USUARIO_ELIMINAR]
	@IdUsuario INT
AS
BEGIN
	DELETE FROM Usuarios
	WHERE IdUsuario = @IdUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_LISTAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USUARIO_LISTAR]
AS
BEGIN
	SELECT
		IdUsuario,
		Usuario,
		Contrasena,
		Rol
	FROM Usuarios
END
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_REGISTRAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USUARIO_REGISTRAR]
	@Usuario VARCHAR(50),
	@Contrasena VARCHAR(100),
	@Rol VARCHAR(30)
AS
BEGIN
	INSERT INTO Usuarios
	(
		Usuario,
		Contrasena,
		Rol
	)
	VALUES
	(
		@Usuario,
		@Contrasena,
		@Rol
	)
END
GO
/****** Object:  StoredProcedure [dbo].[VENTA_REGISTRAR]    Script Date: 20/6/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[VENTA_REGISTRAR]
	@IdCliente INT,
	@IdEmpleado INT,
	@Total DECIMAL(10,2)
AS
BEGIN
	INSERT INTO Ventas
	(
		Fecha,
		IdCliente,
		IdEmpleado,
		Total
	)
	VALUES
	(
		GETDATE(),
		@IdCliente,
		@IdEmpleado,
		@Total
	)

	SELECT SCOPE_IDENTITY() AS IdVenta
END
GO
